<div class="parent">
    <div class="container" id="login-section">
        <h2>Sign Up</h2>
        <input type="text" id="username" placeholder="Username" required />
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <input type="tel" pattern="[0-9]{10}" id="phone" name="phone" placeholder="Contact Number" required/>
        <input type="password" id="password" placeholder="Password" required/>
        <input type="password" id="confirm-password" placeholder="Confirm Password" required/>
        <button id="signup-btn">Sign Up</button>
        <p>Back To Login <a routerLink="/app-login">Click here</a></p>
        <p id="signup-error-message" class="error-message"></p>
      </div>
</div>
